{% extends "deliveryperson/dashboard.html" %} {% load static %}
<title> Pending ordercoer </title>
{% block content %}

<body>
    <div class="wrapper">
        <div class="sidebar" data-color="red">
            <div class="sidebar-wrapper">
                <div class="logo">
                    <a href="#" class="simple-text"> D2D </a>
                </div>
                <ul class="nav">
                    <li>
                        <a class="nav-link" href="{% url 'delivery_dashboard' %}">
                            <i class="nc-icon nc-chart-pie-35"></i>
                            <p>Pending Deliveries</p>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link" href="{% url 'ongoing' %}">
                            <i class="nc-icon nc-circle-09"></i>
                            <p>Ongoing Deliveries</p>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link" href="  {% url 'rejected' %}">
                            <i class="nc-icon nc-notes"></i>
                            <p>Rejected Deliveries</p>
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href=" {% url 'completed' %}">
                            <i class="nc-icon nc-paper-2"></i>
                            <p>Completed Deliveries</p>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link" href="  {% url 'notifications' %}">
                            <i class="nc-icon nc-bell-55"></i>
                            <p>Notifications</p>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link" href="  {% url 'user' %}">
                            <i class="nc-icon nc-circle-09"></i>
                            <p>Edit Profile</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="main-panel">
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg" color-on-scroll="500">
                <div class="container-fluid">
                    <a class="navbar-brand" href="{% url 'delivery_dashboard' %}"> Pending Deliveries </a>
                    <button href="" class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-bar burger-lines"></span>
                        <span class="navbar-toggler-bar burger-lines"></span>
                        <span class="navbar-toggler-bar burger-lines"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-end" id="navigation">
                        <ul class="nav navbar-nav mr-auto">
                            {% comment %}
                            <li class="dropdown nav-item">
                                <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                                    <i class="nc-icon nc-planet"></i>
                                    <span class="notification">5</span>
                                    <span class="d-lg-none">Notification</span>
                                </a>
                                <ul class="dropdown-menu">
                                    <a class="dropdown-item" href="#">Notification 1</a>
                                    <a class="dropdown-item" href="#">Notification 2</a>
                                    <a class="dropdown-item" href="#">Notification 3</a>
                                    <a class="dropdown-item" href="#">Notification 4</a>
                                    <a class="dropdown-item" href="#">Another notification</a>
                                </ul>
                            </li>
                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'delivery_dashboard' %}">
                                        <span class="no-icon">Account</span>
                                    </a>
                                </li> {% endcomment %}
                                <li class="nav-item" style="margin-left:780px;">
                                    <a class="nav-link" href="{% url 'logout' %}">
                                        <span class="no-icon">Log out</span>
                                    </a>
                                </li>
                            </ul>
                    </div>
                </div>
            </nav>
            <!-- End Navbar -->
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card strpied-tabled-with-hover">
                                {% comment %}
                                <div class="card-header">
                                </div> {% endcomment %}
                                <div class="card-body table-full-width table-responsive">

                                    <form method="post" action="{% url 'hendlepending' %}">
                                        <table class="table table-hover table-striped">

                                            <tbody>
                                                {% csrf_token %}
                                                <tr>
                                                    <td>ID</td>
                                                    <td><input class="form-control" type="text" id="id" name="id" placeholder="{{orderco.id}}" value="{{orderco.id}}" readonly>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>sender_name</td>
                                                    <td><input class="form-control" text="text" id="sender_name" name="sender_name" value="{{orderco.sender_name}}" placeholder="{{orderco.sender_name}}" readonly></td>
                                                </tr>
                                                <tr>
                                                    <td>receiver_name</td>
                                                    <td><input class="form-control" text="text" id="receiver_name" name="receiver_name" value="{{orderco.receiver_name}}{{orderco.requester_name}}" placeholder="{{orderco.receiver_name}}{{orderco.requester_name}}"
                                                            readonly></td>
                                                </tr>
                                                <tr>
                                                    <td>product_name</td>
                                                    <td><input class="form-control" text="text" id="product_name" name="product_name" value="{{orderco.product_name}}" placeholder="{{orderco.product_name}}" readonly></td>
                                                </tr>
                                                <tr>
                                                    <td>product_weight</td>
                                                    <td><input class="form-control" text="text" id="product_weight" name="product_weight" value="{{orderco.product_weight}}" placeholder="{{orderco.product_weight}}" readonly></td>
                                                </tr>
                                                <tr>
                                                    <td>Contact_number</td>
                                                    <td><input class="form-control" text="text" id="contact_number" name="contact_number" value="{{orderco.contact_number}}" placeholder="{{orderco.contact_number}}" readonly></td>
                                                </tr>
                                                <tr>
                                                    <td>pickup_address</td>
                                                    <td><input class="form-control" text="text" id="pickup_address" name="pickup_address" value="{{orderco.pickup_address}}" placeholder="{{orderco.pickup_address}}" readonly></td>
                                                </tr>
                                                <tr>
                                                    <td>delivery_address</td>
                                                    <td><input class="form-control" text="text" id="delivery_address" name="delivery_address" value="{{orderco.delivery_address}}" placeholder="{{orderco.delivery_address}}" readonly></td>
                                                </tr>
                                                <tr>
                                                    <td>delivery_city</td>
                                                    <td><input class="form-control" text="text" id="delivery_city" name="delivery_city" value="{{orderco.delivery_city}}" placeholder="{{orderco.delivery_city}}" readonly></td>
                                                </tr>
                                                <tr>
                                                    <td>DateTime</td>
                                                    <td><input class="form-control" text="text" id="DateTime" name="DateTime" value="{{orderco.DateTime}}" placeholder="{{orderco.DateTime}}" readonly></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </form>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>

            </div>

        </div>
    </div>
    </div>




    <!--   Core JS Files   -->
    <script src="{% static 'js/core/jquery.3.2.1.min.js' %} " type="text/javascript "></script>
    <script src="{% static 'js/core/popper.min.js' %} " type="text/javascript "></script>
    <script src="{% static 'js/core/bootstrap.min.js' %} " type="text/javascript "></script>
    <!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
    <script src="{% static 'js/plugins/bootstrap-switch.js' %} "></script>
    <!--  Notifications Plugin    -->
    <script src="{% static 'js/plugins/bootstrap-notify.js' %} "></script>
    <!-- Control Center for Light Bootstrap Dashboard: scripts for the example pages etc -->
    <script src="{% static 'js/light-bootstrap-dashboard.js' %} " type="text/javascript "></script>
    {% endblock %}