{% extends "index.html" %}
{% load static %}
{% block title %} User D2D | Door to Door Delivery Service {% endblock %}
{% block content %}
    <!-- MENU BAR -->
    <nav class="navbar navbar-expand-lg sticky-top" style="padding: 0px;">
        <div class="container">

            <a class="navbar-brand" href="index.html">D2D</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <form class="form-inline">
                    <input class="form-control mr-sm-2"  type="search" placeholder="Search user" aria-label="Search">
                    <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Search</button>
                </form>
                <ul class="navbar-nav ml-lg-auto">
                    <li class="nav-item">
                        <a href="#home" class="nav-link smoothScroll">Home</a>

                    </li>

                    <li class="nav-item">
                        <a href="#about" class="nav-link smoothScroll">About Us</a>
                    </li>

                    <li class="nav-item">
                        <a href="#class" class="nav-link smoothScroll">Services</a>
                    </li>

                    <!-- <li class="nav-item">
                        <a href="#schedule" class="nav-link smoothScroll">Schedules</a>
                    </li> -->

                    <li class="nav-item">
                        <a href="#contact" class="nav-link smoothScroll">Contact</a>
                    </li>
                </ul>

                <ul class="social-icon ml-lg-3">
                    <li><a href="#" title="Chat" class="fa fa-comment"></a></li>
                    <li>
                        <div class="dropdown" role="button" id="showNotifications" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">

                            <a href="#" title="Notifications" class="fa fa-bell"></a>
                            <div class="dropdown-menu" aria-labelledby="showNotifications">
                                <a class="dropdown-item notification" href="#"
                                    style="color: #666262; text-align: start; font-size: 0.85rem; padding: 0.25rem 0.3rem; margin: 2px 0px; font-weight: 400;">Notification
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item notification" href="#"
                                    style="color: #666262; text-align: start; font-size: 0.85rem; padding: 0.25rem 0.3rem; margin: 2px 0px; font-weight: 400;">Another
                                    notification</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item notification" href="#"
                                    style="color: #666262; text-align: start; font-size: 0.85rem; padding: 0.25rem 0.3rem; margin: 2px 0px; font-weight: 400;">Check
                                    all</a>
                            </div>
                        </div>

                    </li>

                    <li>
                        <div class="dropdown" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <a href="#" title="Profile" class="fa fa-user-circle"></a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <a class="dropdown-item notification" href="#"
                                    style="color: #666262; text-align: start; font-size: 0.85rem; padding: 0.25rem 0.3rem; margin: 2px 0px; font-weight: 400;">Account
                                    Settings </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item notification" href="#"
                                    style="color: #666262; text-align: start; font-size: 0.85rem; padding: 0.25rem 0.3rem; margin: 2px 0px; font-weight: 400;">other
                                    options</a>
                                <div class="dropdown-divider"></div>

                                <form action="{% url 'logout' %}">
                                    <a href="{% url 'logout' %}" class="dropdown-item notification"
                                        style="color: #666262; text-align: start; font-size: 0.85rem; padding: 0.25rem 0.3rem; margin: 2px 0px; font-weight: 400;">Logout
                                    </a>
                                </form>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>




    {% for message in messages %}
    <div id="alert" class="alert mb-0 alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        <strong>Message: </strong> {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}





    <!-- HERO -->
    <section class="hero d-flex flex-column justify-content-center align-items-center" id="home">

        <div class="bg-overlay"></div>

        <div class="container">
            <div class="row">

                <div class="col-lg-8 col-md-10 mx-auto col-12">
                    <div class="hero-text mt-5 text-center">

                        <h6 data-aos="fade-up" data-aos-delay="300">Easiest way to send or receive packages</h6>

                        <h1 class="text-white" data-aos="fade-up" data-aos-delay="500">D2D <br> Door to Door Delivery
                        </h1>

                        <a href="{% url 'sendpackage' %}" class="btn custom-btn bordered mt-3" data-aos="fade-up" data-aos-delay="600">Send
                            Package</a>

                        <a href="{% url 'requestpackege' %}" class="btn custom-btn bordered mt-3" data-aos="fade-up" data-aos-delay="700">Request
                            Package</a>

                    </div>
                </div>

            </div>
        </div>
    </section>


    <section class="feature" id="feature">
        <div class="container">
            <div class="row">

                <div class="d-flex mb-lg-0 mb-4 flex-column justify-content-center col-md-6 col-12">
                    <h2 class="mb-3 text-white" data-aos="fade-up">Get Sent!</h2>

                    <h6 class="mb-4 text-white" data-aos="fade-up">How to send?</h6>

                    <p class="text-justify" data-aos="fade-up" data-aos-delay="200">Just log in, add a pickup and
                        drop-off address and your package will be on its way. Whether you want to send gifts, books, or
                        a meal parcel, we help you deliver them at the right time. You can also write special
                        instructions for your parcel delivery.</p>

                    <a href="#" class="btn custom-btn bg-color mt-3" data-aos="fade-up" data-aos-delay="300">Start
                        sending!</a>
                </div>
                <div class="d-flex flex-column justify-content-center col-md-6 col-12">
                    <h2 class="mb-3 text-white" data-aos="fade-up">Get delivered!</h2>

                    <h6 class="mb-4 text-white " data-aos="fade-up">How to request?</h6>

                    <p class="text-justify" data-aos="fade-up" data-aos-delay="200">The same as you deliver your parcel
                        from one point to another, you can get delivered anything you want from anywhere across the
                        city. Just login, request the person(sender) and get on with it. Receive the key, document,
                        lunch box or anything.</p>

                    <a href="#" class="btn custom-btn bg-color mt-3" data-aos="fade-up" data-aos-delay="300">Get
                        delivered</a>
                </div>

            </div>

        </div>
    </section>


    <!-- ABOUT -->
    <section class="about section" id="about">
        <h2 class="text-center mb-lg-5 mb-3" data-aos="fade-up" data-aos-delay="200">About us</h2>
        <div class="container">
            <div class="row">

                <div class="mt-lg-2 mb-lg-0 mb-4 col-lg-5 col-md-10 mx-auto col-12">
                    <h2 class="mb-4" data-aos="fade-up" data-aos-delay="300">Hello, we are D2D!</h2>

                    <p data-aos="fade-up" data-aos-delay="400">With so many courier companies out there, finding the
                        best one to match your needs takes considerable research and time. Multiple factors need to be
                        taken into account when looking for the best company – Location from your place, prices,
                        delivery timing and locations.</p>

                    <p data-aos="fade-up" data-aos-delay="500">At D2D, we want to give everyone
                        easy access to get anything, from anywhere within their city, having a sustainable impact on the
                        economy, society, and environment: we are a tech-first responsible company.</p>

                </div>

                <div class="d-flex align-items-center mt-lg-2 ml-lg-auto col-lg-6 col-12" data-aos="fade-up"
                    data-aos-delay="700">

                    <img src="{% static 'images/team/about1.png' %}" class="img-fluid" alt="">
                </div>

            </div>
            <div class="row">
                <div class="d-flex align-items-center mt-lg-2 ml-lg-auto col-lg-6 col-12" data-aos="fade-up"
                    data-aos-delay="700">

                    <img src="{% static 'images/team/about2.png' %}" class="img-fluid" alt="">
                </div>

                <div class="mt-lg-2 mb-lg-0 mb-4 col-lg-5 col-md-10 mx-auto col-12">
                    <h2 class="mb-4" data-aos="fade-up" data-aos-delay="300">What is D2D exactly?</h2>

                    <p data-aos="fade-up" data-aos-delay="400">D2D is an on-demand delivery platform that allows you to
                        send or get delivered whatever you want. Just follow the steps required for each option, and
                        once you’re finished, a courier will accept your order and deliver it in minutes. You can track
                        and follow the delivery in real-time. Don’t forget to rate your experience once you receive your
                        delivery.</p>

                    <p data-aos="fade-up" data-aos-delay="500">D2D platform eliminates the hassle of sending and
                        receiving packages, couriers, or things you often forget. We connect users, businesses, and
                        couriers to make that possible. The project was born with the aim of transforming the way users
                        acquire what they need, making their cities more accessible.</p>

                </div>


            </div>
        </div>
    </section>


    <!-- CLASS -->
    <section class="class section" id="class">
        <div class="container">
            <div class="row">

                <div class="col-lg-12 col-12 text-center mb-5">
                    <h6 data-aos="fade-up">Get a Perfect </h6>

                    <h2 data-aos="fade-up" data-aos-delay="200">Delivery Solution</h2>
                </div>

                <div class="col-lg-4 col-md-6 col-12" data-aos="fade-up" data-aos-delay="400">
                    <div class="class-thumb">
                        <img src="{% static 'images/class/services1.png' %}" class="img-fluid" alt="Class">

                        <div class="class-info">
                            <h3 class="mb-1">Communicate</h3>
                            <p class="mt-3">Chat feature to help users to communicate for better experience.</p>
                        </div>
                    </div>
                </div>

                <div class="mt-5 mt-lg-0 mt-md-0 col-lg-4 col-md-6 col-12" data-aos="fade-up" data-aos-delay="500">
                    <div class="class-thumb">
                        <img src="{% static 'images/class/service2.png' %}" class="img-fluid" alt="Class">

                        <div class="class-info">
                            <h3 class="mb-1">Live Tracking</h3>

                            <p class="mt-3">Allows users to check the process status, track the live location and get
                                updated.</p>
                        </div>
                    </div>
                </div>

                <div class="mt-5 mt-lg-0 col-lg-4 col-md-6 col-12" data-aos="fade-up" data-aos-delay="600">
                    <div class="class-thumb">
                        <img src="{% static 'images/class/service4.png' %}" class="img-fluid" alt="Class">

                        <div class="class-info">
                            <h3 class="mb-1">Quick</h3>

                            <p class="mt-3">Provides the support to tiny, short and local trasportations. You can order
                                food from friend's home.</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>



<!-- CONTACT -->
    <section class="contact section" id="contact">
        <div class="container">
            <div class="row">

                <div class="ml-auto d-flex flex-column text-center col-12">
                    <h2 class="mb-4 pb-2" data-aos="fade-up" data-aos-delay="200">Feel free to ask anything</h2>

                    <form   action="/user/feedback" method="post" class="contact-form webform" data-aos="fade-up"
                        data-aos-delay="400" role="form">

                        <input type="text" class="form-control" name="cf-name" id="cf-name" placeholder="Name" required>

                        <input type="email" class="form-control" name="cf-email" id="cf-email" placeholder="Email"
                            required>

                        <textarea class="form-control" rows="5" name="cf-message" id="cf-message" placeholder="Message"
                            required></textarea>

                        {% csrf_token %}
                        {{ form.as_p }}
                        <div class="form-actions">
                            <button type="submit" class="form-control" id="submit-button" name="submit">Send
                                Message</button>
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </section>
{% endblock %}