{% extends 'index.html' %} {% load static %}
<title>{% block title %}D2D - Signup {% endblock %}</title>
{% block content %}

<body data-spy="scroll" data-target="#navbarNav" data-offset="50">

    <!-- MENU BAR -->
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" href="index.html">D2D</a>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-lg-auto">
                    <li class="nav-item">
                        <a href="{% url 'home' %}" class="nav-link smoothScroll">Home</a>

                    </li>

                    <li class="nav-item">
                        <a href="{% url 'home' %}" class="nav-link smoothScroll">About Us</a>
                    </li>

                    <li class="nav-item">
                        <a href="{% url 'home' %}" class="nav-link smoothScroll">Services</a>
                    </li>

                    <li class="nav-item">
                        <a href="{% url 'home' %}" class="nav-link smoothScroll">Contact</a>
                    </li>
                </ul>
                <form action="{% url 'Login' %}">
                    <button type="submit" class="btn btn-outline-danger mx-2">
                                Login
                     </button>
                </form>
            </div>
        </div>
    </nav>


    {% for message in messages %}
    <div id="alert" class="alert mb-0 alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        <strong>Message: </strong> {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}


    <!-- Register -->
    <section class="contact section" id="contact">
        <div class="container">
            <div class="form-row align-items-center justify-content-center">

                <div class="d-flex flex-column text-center col-md-8 col-sm-12">
                    <h2 class="mb-4 pb-2" data-aos="fade-up" data-aos-delay="200">Create Account for free!</h2>

                    <form action="{% url 'signup' %}" method="post" class="contact-form" data-aos="fade-up" data-aos-delay="400" role="form">
                        <div class="row text-left">
                            <div class="col">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="user_type" id="user" value="user" checked onclick=userType()>
                                    <label class="form-check-label" for="user">Normal User</label>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="user_type" id="delivery_person" value="delivery_person" onclick=userType()>
                                    <label class="form-check-label" for="delivery_person">Delivery Person</label>
                                </div>
                            </div>
                        </div>

                        <div id="registerForm">
                            <div class="userRegForm">
                                <input type="text" class="form-control mb-0" name="user_username" placeholder="username" required>

                                <div class="row">
                                    <div class="col">
                                        <input type="text" class="form-control" name="firstname" placeholder="First Name" required>

                                    </div>
                                    <div class="col">
                                        <input type="text" class="form-control" name="lastname" placeholder="Last Name" required>

                                    </div>
                                </div>


                                <input type="email" class="form-control mt-0" name="email" placeholder="Email" required>
                                <input type="number" class="form-control" name="number" placeholder="Contact number" required>
                                <input type="password" class="form-control" name="pass1" placeholder="Password" required>
                                <input type="password" class="form-control" name="pass2" placeholder="Confirm Password" required>
                            </div>
                        </div>
                        <button type="submit" class="form-control mb-1" id="submit-button" name="submit">Create
                            Account</button>
                        <a class="btn btn-outline-dark mt-0 form-control" href="/login.html">Already have an
                            account?</a> {% csrf_token %}
                    </form>
                </div>
            </div>
        </div>
    </section>
    <script src="{% static 'js/register.js' %}"></script>
    <script src="{% static 'js/validation.js' %}"></script>

    <script>
        let alert = document.getElementById('alert');
        if (alert != null) {
            setTimeout(() => {
                $('.alert').alert('close')
            }, 10000);
        }
    </script>
    {% endblock %}